[submodule "modules/ebanx/lib"]
	path = modules/ebanx/lib
	url = https://github.com/ebanx/ebanx-php.git
[submodule "modules/ebanxexpress/lib"]
	path = modules/ebanxexpress/lib
	url = https://github.com/ebanx/ebanx-php.git
