.ebanx-form {

}

.ebanx-form p {

}

.ebanx-form p label {
  width: 135px;
  padding: 0 15px 0 0;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  text-align: right;
}

.ebanx-form p input,
.ebanx-form p select {
  font-size: 1.2em;
  padding: 5px;
  border: 1px solid #999;
}

.ebanx-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 20px;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 20px 0;
  display: none;
  line-height: 1.5em;
}

.request-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 20px;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 20px 0;
  line-height: 1.5em;
}

.ebanx-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  padding: 20px;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 20px 0;
}